/* 
Reset CSS
*/
    *{
        /* Disable all margin/padding */
        margin: 0;
        padding: 0;

        /* Set box sizing */
        box-sizing: border-box;
    }

    a{
        color: inherit;
        text-decoration: none;
    }

    /* Limite image size */
    img{
        max-width: 100%;
    }
/**/