/* 
Define classes to organize colors
*/
.primary-color-font {
  color: var(--color-primary);
}

.secondary-color-font {
  color: var(--color-secondary);
}

.primary-color-background {
  background-color: var(--color-primary);
}

.secondary-color-background {
  background-color: var(--color-secondary);
}
