/* 
Define titles
*/
.title-level-1 {
  font-family: var(--title-family-font);
  font-size: var(--title-level-1);
  color: var(--color-primary);
}

.title-level-2 {
  font-family: var(--title-family-font);
  font-size: var(--title-level-2);
  color: var(--color-primary);
}
