/* 
Import google font
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&family=Roboto:wght@100;500&display=swap");

/* 
Create CSS variables
*/
body {
  /* Color palette */
  --color-primary: #1b203e;
  --color-secondary: #a84416;
  --color-background: #fef5f1;
  --color-success: green;
  --color-error: red;

  /* Fonts */
  --paragraph-family-font: "Roboto", sans-serif;
  --title-family-font: "Roboto Slab", serif;
  --title-level-1: 60px;
  --title-level-2: 50px;
}
