.button, button, input[type='button'], input[type='reset'], input[type='submit']{
    background-color: red;
    border: 0.1rem solid red;
}

body{
    padding: 4rem;
}

#section-logged,
#section-login{
    display: none;
}

#section-logged.active,
#section-login.active{
    display: block;
}