/* 
Define styles for buttons
*/
.cta-button{
    font-family: var( --button-font-family );
    font-weight: var(--button-font-weight);
    font-size: var(--text-level-1);
    padding: var(--edge-small) var(--edge-large);
    border-radius: var( --border-radius-large );
}

.cta-bordered{
    border: 0.1rem solid var(--primary-color);
}

.cta-dark{
    color: var(--light-color);
    background-color: var(--primary-color);
}

.cta-light{
    background-color: var(--light-color);
    box-shadow: var(--box-shadow);
}

.cta-large{
    font-size: calc( var(--text-level-1) * 2 );
    padding: var(--edge-small) var(--edge-large-xl);
}