/* 
Define all CSS to manage colmumn/grids
=> Usefull for flex containers
*/
.container-inline-block > *{
    display: inline-block;
    margin: 0rem var(--edge-small);
}

/* 
Medium layout
=> Minimum 450px view width
*/
@media screen and (min-width:450px) {
    .container-flex{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .item-flex-1-4{
        width: 50%;
    }
}

/* 
Medium layout
=> Minimum 900px view width
*/
@media screen and (min-width:900px) {
    .item-flex-1-4{
        width: 25%;
    }
}