/* 
Specific style for this project
=> Do not copy code below for yout next project
*/
    body{
        /* Use CSS variable */
        font-family: var( --text-font-family );
        font-weight: var(  --text-font-weight );
        font-size: var( --text-level-1 );
        background-color: var( --background-color );
        padding: var( --edge-large-x );

        text-align: center;
    }
/**/

header img{
    width: 3rem;
}