/* 
Reset CSS
*/
* {
  /* Disable all margin/padding */
  margin: 0;
  padding: 0;

  /* Set box sizing */
  box-sizing: border-box;
}

a {
  color: inherit;
}

/* Select all <A> tags if there haven't target equal to _blank */
a:not( [target="_blank"] ) {
  text-decoration: none;
}

/* Limit image size */
img {
  max-width: 100%;
}
