/* 
Define title styles
From H1 to H4
*/
.title{
    font-family: var( --title-font-family );
    font-weight: var( --title-font-weight );
    line-height: 1;
}

.title-level-1{
    font-size: var( --title-level-1 );
}

.title-level-2{
    font-size: var( --title-level-2 );
}

.title-level-3{
    font-size: var( --title-level-3 );
}

.title-level-4{
    font-size: var( --title-level-4 );
}