/* 
Design System: main CSS variables
Instructions for Design edition:
  - Do never edit or remove any CSS selector below
  - Use the 1rem for 10px to define all sizes (7px = 0.7rem, 35px = 3.5rem, ...)
  - The minimum size is 0.1rem, maximum depend on your needs
  - All colors unit can be used (rgba, #...)
  - If you can define a new variable:
    - Use a name with a specific definition (--tertiary-color, --border-radius-x-light, ...)
    - Define values at least for ".default-theme"
    - Use existing CSS selectors, do never add new one
  - To set up your font family:
    - Use a CDN or set your own fonts (https://fonts.google.com)
    - Use @font-face and create a "fonts" folder in the "assets" folder (https://developer.mozilla.org/fr/docs/Web/CSS/@font-face)
*/

/* 
Import fonts
Font family must be set at the begining
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;900&family=Roboto:wght@100;500&display=swap");

/* 
Default variable definition
Those values are used globaly, for (max-width="767").
*/
:root,
.default-theme {
  /* Color main palette */
  --primary-color: #1b203e;
  --secondary-color: #fa933f;
  --tercary-color: #37b293;
  --default-text-color: #1b203e;
  --disabled-color: #7b7b7b;
  --disabled-secondary-color: #f4f4f4;
  --ruler-color: #dbdbdb;
  --background-color: #fef5f1;
  --light-color: #ffffff;
  --success-color: #38b293;
  --error-color: #e95643;

  /* Color form palette */
  --form-button-color: #38b293;
  --form-input-color: #7b7b7b;
  --form-color-text: #fef5f1;
  --form-element-height: var(--button-icon-size);

  /* Border palette */
  --border-radius-large: 4rem;
  --border-radius-medium: 1rem;
  --border-radius-light: 0.5rem;
  --border-rounded: 50%;

  /* Page width palette */
  --page-max-width: 120rem;
  --page-width: 100vw;

  /* Edges pallette */
  --edge-large: 2rem;
  --edge-large-x: calc( var(--edge-large) * 2 );
  --edge-large-xl: calc( var(--edge-large) * 3 );
  --edge-medium: calc( var(--edge-large) * 0.7 );
  --edge-small: calc( var(--edge-large) * 0.5 );
  --edge-light: calc( var(--edge-large) * 0.3 );

  /* Size palette */
  --button-icon-size: 4rem;

  /* Transition pallet */
  --transition-ease: all 300ms ease;
  --transition-ease-in: all 300ms ease-in;
  --transition-ease-out: all 300ms ease-out;

  /* Styles */
  --box-shadow: 0rem 0rem 1.5rem 0rem #0000001f;

  /* 
  Font family 
  Use the correct font name/subtitute and the correct font weight.
  Check definition of "Import fonts" to set up your font.
  */
  --title-font-family: "Roboto Slab", serif;
  --text-font-family: "Roboto", serif;
  --title-font-weight: 500;
  --title-font-weight-bold: 900;
  --text-font-weight: 100;
  --text-font-weight-bold: 500;
  --button-font-family: "Roboto Slab", serif;
  --button-font-weight: 500;

  /* Texte family */
  --main-line-height: 1.5;
  --small-line-height: 1;
  --text-level-1: 1.6rem;
  --text-level-2: 1.2rem;
  --text-level-3: 1rem;

  /* Title family */
  --title-level-1: 6rem;
  --title-level-2: 5rem;
  --title-level-3: 3.5rem;
  --title-level-4: 3rem;
}


/* Initial style */
html {
  font-size: 62.5%; /* => 1rem = 10px */
}